html, body {
    /* background-color: rgb(22, 22, 22); */
    background-color: black;
    color: white;
}


h1 {
    text-align: center;
    font-size: 50px;
}


a {
    color: rgb(204, 8, 8);
    text-decoration: None;
    font-size: 36px;
}



p {
    text-align: center;
    font-size: 18px;
}


.top {
    color: white;
    font-size: 24px;
}

.top:hover {
    color:rgb(192, 22, 22)
}

table {
    margin-left: auto;
    margin-right: auto;
}

table a:hover {
    color: black;
}

.list thead tr th{
    border-bottom: 5px solid black;
    background-color: rgb(78, 59, 59);
    text-align: left;
    padding: 5px;
    text-align: center;
}

.list {
    font-size: 36px;
    padding: 5px;
    background-color: gray;
    min-width: 800px;
    text-align: center;
}

.detail thead tr th{
    border-bottom: 5px solid black;
    background-color: rgb(78, 59, 59);
    text-align: left;
    padding: 5px;
}

.detail {
    font-size: 32px;
    padding: 5px;
    background-color: gray;
    min-width: 1000px;
}

.tasks thead tr th{
    border-bottom: 5px solid black;
    background-color: rgb(78, 59, 59);
    text-align: left;
    padding: 5px;
    font-size: 40px;
    min-width: 450px
}

.tasks {
    font-size: 30px;
    padding: 5px;
    min-width: 1200px;
    background-color: gray;
}

.done {
    text-decoration: line-through;
    background-color: rgb(48, 45, 45);
}

/* .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(49, 48, 48);
    font-size: 50px;
    padding: 20px;
    text-align: center;
} */

.sidenav a:hover {
    color: rgb(136, 13, 13);
}

.nav-text {
    color: gray;
}

button {
    background-color: rgb(221, 213, 213);
    font-size: 36px;
    padding: 10px;
}

p button:hover {
    color:rgb(27, 104, 27);
    padding: 20px;
}

.create-project {
    font-size: 50px;
}

.create-project a:hover {
    color:rgb(27, 104, 27);
}

.task-text p{
    font-size: 36px;
}

.task-text p a:hover {
    color:rgb(27, 104, 27);
}

.new-task a:hover {
    color:rgb(27, 104, 27);
}
