{% extends 'base.html' %}

{% block title %}
    Welcome
{% endblock title %}
{% block content %}
    <header>
    </header>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button>Signup</button></p>
            </form>
        </div>
    </main>
{% endblock content %}
