{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <div class="sidenav">
                            <li>
                                <a href="{% url 'show_my_tasks' %}" class=nav-text>My tasks</a>
                            </li>
                            <li>
                                <a href="{% url 'list_projects' %}" class=nav-text>My projects</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}" class=nav-text>Logout</a>
                            </li>
                        </div>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}" class=top>Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}" class=top>Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
