{% extends 'base.html' %}

{% block title %}
    New Project
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button>Create</button></p>
            </form>
        </div>
    </main>
{% endblock content %}
