{% extends 'base.html' %}

{% block title %}
    Project
{% endblock title %}
{% block content %}
    <main>
        <div class=task-text>
            <h1>{{ project_object.name }} tasks</h1>
            <p>{{ project_object.description }}</p>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project_object.tasks.exists %}
                <table border="1" class=detail>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project_object.tasks.all %}
                            {% if task.is_completed %}
                                <tr class=done>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>
                                        <a href="{% url 'uncross' task.id %}">Done</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>
                                        <a href="{% url 'cross_off' task.id %}">Not Done</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
