{% extends 'base.html' %}

{% block title %}
    List
{% endblock title %}
{% block content %}
    <main>
        <h1>My Projects</h1>
        <div>
            <p class=create-project>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {% if projects %}
                <table border="1" class=list>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
